img {
    max-width: 100%;
    border-radius: 1rem;
}

@media (max-width: 480px) {
    img {
        border-radius: 0%;
    }
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: hsl(30, 54%, 90%);
    margin: 0;
}

h1 {
    color: hsl(24, 5%, 18%);
    font-size: 2.8rem;
}

h2,li {
    color: hsl(14, 45%, 36%);
}

p {
    color: black;
}

span {
    font-weight: bold;
    color: hsl(24, 5%, 18%);
}


.lista {
    background-color: hsl(330, 100%, 98%);
    border-radius: 1rem;
}

.lista h2 {
    color: hsl(332, 51%, 32%);
}

.rosa {
    color: hsl(332, 51%, 32%);
}

.receta {
    background-color: white;
    width: 50%;
    padding: 2rem;
    border-radius: 2rem;
}

@media (max-width: 480px) {
   .receta {
    width: 100%;
    border-radius: 0;
   }
}

.ingredientes,
.instrucciones {
    border-bottom: solid 1px hsl(30, 18%, 87%);
}

/*Tabla*/

table {
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.valores {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}

